<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="dark">
  <title>{% block title %}Nex{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
